html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.body {
    margin: 0;
    padding: 0;
}

.main {
    min-width: 500px;
    max-width: 600px;
    margin: 10px auto;
}

.block {
    background-color: WhiteSmoke;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.block__header {
    margin: 0;
    padding: 0;
}

.block__meaning {
    margin: 0;
    font-size: 48px;
    font-weight: 600;
}

.ul {
    list-style: none;
    list-style-type: none;
    margin: 5px 0;
    padding: 0;
}

.li {
    margin: 0;
    
}