html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
}

.p {
    padding: 0;
    margin: 0;
}

.body {
    margin: 0;
    padding: 0;
}

.main {
    width: 600px;
    margin: 10px auto;
}

.two-blocks {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.block {
    background-color: WhiteSmoke;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 580px;
}

.block__header_width_halfe {
    max-width: calc(50% - 25px);
}

.block__header {
    margin: 0;
    padding: 0;
}

.block__meaning {
    margin: 0;
    font-size: 48px;
    font-weight: 600;
}

.ul {
    list-style: none;
    list-style-type: none;
    margin: 5px 0;
    padding: 0;
}

.li {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}