{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Космические фермеры</title>
</head>
<body class="body">
    <main class="main">
        <div class="block">
            <h2 class="block__header">Количество дней</h2>
            <p class="block__meaning">32</p>
        </div>
        <div class="block">
            <h2 class="block__header">Расход ресурсов</h2>
            <ul class="ul">
                <li class="li">Первый ресурс</li>
                <li class="li">Второй ресурс</li>
            </ul>
        </div>
        <div class="block">
            <h2 class="block__header">Распределение мощности реактора</h2>
        </div>
        <div class="two-blocks">
            <div class="block block__header_width_halfe">
                <h2 class="block__header">Характеристики автоклава</h2>
                <ul class="ul">
                    <li class="li"><p class="p">характеристика</p>44%</li>
                    <li class="li"><p class="p">характеристика</p>44%</li>
                </ul>
            </div>
            <div class="block block__header_width_halfe">
                <h2 class="block__header">Численность популяции SH</h2>
                <ul class="ul">
                    <li class="li"><p class="p">характеристика</p>44%</li>
                    <li class="li"><p class="p">характеристика</p>44%</li>
                </ul>
            </div>
        </div>
    </main>
</body>
</html>